.result {
  border: 1px solid #ddd;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;

  &__item {
    &--selected {
      color: red;
    }

    &--result {
      color: green;
    }
  }

  &__tag {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    background: orange;
    color: #fff;
    border-radius: 5px;
    padding: 4px 10px;
    margin-left: 10px;

    &--true {
      background: green;
    }

    &--false {
      background: red;
    }
  }
}

.button__redo {
  margin: 20px 0;
  padding: 10px;
  background-color: rgb(109, 43, 209);
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  border: 0;box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  &:hover {
    background-color: #fff;
    border: 1px solid rgb(109, 43, 209);
    color: rgb(109, 43, 209);
  }
}